{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('add_bp.static', filename='add/styles.css')}}">

{% endblock %}

{% block title %}<title>New medical history</title> {% endblock %}

{% block content %} 
<h1 class="h3 mb-4 ml-5 text-gray-800">Add medical records</h1>
<hr>
<div class= "alert-success" role="alert">{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}</div>
<form action="{{ url_for('add_bp.new_med') }}" method="POST" novalidate class="row g-3 my-4 mr-5 ml-5">
  {{ form.csrf_token }}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">{{ form.name.label }}</label>
      {{form.name(size=30, class="form-control", id="inputEmail4")}}
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">{{ form.age.label }}</label>
      {{form.age(size=30, class="form-control", id="inputPassword4")}}
    </div>
    <div class="col-12 mt-3">
      <label for="inputAddress" class="form-label">{{ form.address.label }}</label>
      {{form.address(size=30, class="form-control", id="inputAddress", placeholder="1234 Main St")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="inputCity" class="form-label">{{ form.blood_type.label }}</label>
      {{form.blood_type(size=30, class="form-control", id="inputCity")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="sbp" class="form-label">{{ form.systolic_BP.label }}</label>
      {{form.systolic_BP(size=30, class="form-control", id="sbp")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="diastolic_BP" class="form-label">{{ form.diastolic_BP.label }}</label>
      {{form.diastolic_BP(size=30, class="form-control", id="diastolic_BP")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="blood_sugar" class="form-label">{{ form.blood_sugar.label }}</label>
      {{form.blood_sugar(size=30, class="form-control", id="blood_sugar")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="body_temp" class="form-label">{{ form.body_temp.label }}</label>
      {{form.body_temp(size=30, class="form-control", id="body_temp")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="heart_rate" class="form-label">{{ form.heart_rate.label }}</label>
      {{form.heart_rate(size=30, class="form-control", id="heart_rate")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="number_children" class="form-label">{{ form.number_children.label }}</label>
      {{form.number_children(size=30, class="form-control", id="number_children")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="last_birth" class="form-label">{{ form.last_birth.label }}</label>
      {{form.last_birth(size=30, class="form-control", id="last_birth")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="allergies" class="form-label">{{ form.allergies.label }}</label>
      {{form.allergies(size=30, class="form-control", id="allergies")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="medical_condition" class="form-label">{{ form.medical_condition.label }}</label>
      {{form.medical_condition(size=30, class="form-control", id="medical_condition")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="miscarriage" class="form-label">{{ form.miscarriage.label }}</label>
      {{form.miscarriage(size=30, class="form-control", id="miscarriage")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="still_birth" class="form-label">{{ form.still_birth.label }}</label>
      {{form.still_birth(size=30, class="form-control", id="still_birth")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="premature_birth" class="form-label">{{ form.premature_birth.label }}</label>
      {{form.premature_birth(size=30, class="form-control", id="premature_birth")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="pre_clamsia" class="form-label">{{ form.pre_clamsia.label }}</label>
      {{form.pre_clamsia(size=30, class="form-control", id="pre_clamsia")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="gestation_diabetes" class="form-label">{{ form.gestation_diabetes.label }}</label>
      {{form.gestation_diabetes(size=30, class="form-control", id="gestation_diabetes")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="hiv_status" class="form-label">{{ form.hiv_status.label }}</label>
      {{form.hiv_status(size=30, class="form-control", id="hiv_status")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="sugar_levels" class="form-label">{{ form.sugar_levels.label }}</label>
      {{form.sugar_levels(size=30, class="form-control", id="sugar_levels")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="weight" class="form-label">{{ form.weight.label }}</label>
      {{form.weight(size=30, class="form-control", id="weight")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="prev_dev" class="form-label">{{ form.prev_dev.label }}</label>
      {{form.prev_dev(size=30, class="form-control", id="prev_dev")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="id_number" class="form-label">{{ form.id_number.label }}</label>
      {{form.id_number(size=30, class="form-control", id="id_number")}}
    </div>
    <div class="col-md-6 mt-3">
      <label for="marital_status" class="form-label">{{ form.marital_status.label }}</label>
      {{form.marital_status(size=30, class="form-control", id="marital_status")}}
    </div>
    <div class="col-12 mt-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12 mt-3">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
  <span>{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}</span>
{% endblock %}
