{% extends "base_auth.html" %}

{% block title %}<title>Login</title> {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form action="{{ url_for('auth_bp.signup') }}" method="POST" novalidate class="user">
                {{ form.csrf_token }}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{form.name(size=30, class="form-control form-control-user", id="exampleFirstName", placeholder="First Name"
                    )}}
                    </div>
                    <div class="col-sm-6">
                        {{form.last_name(size=30, class="form-control form-control-user", id="exampleLastName", placeholder="Last Name"
                    )}}
                    </div>
                </div>
                <div class="form-group">
                    {{form.email(size=30, class="form-control form-control-user", id="exampleInputEmail", placeholder="Email Address"
                    )}}
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{form.password(size=30, class="form-control form-control-user", id="exampleInputPassword", placeholder="Password"
                        )}}
                    </div>
                    <div class="col-sm-6">
                        {{form.repeat_password(size=30, class="form-control form-control-user", id="exampleRepeatPassword", placeholder="Repeat Password"
                        )}}
                        
                    </div>
                </div>
                {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{{ url_for('auth_bp.forgot') }}">Forgot Password?</a>
            </div>
            <div class="text-center">
                <a class="small" href="{{ url_for('auth_bp.login') }}">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}