{% extends "base.html" %}

{% block head %}
{{super()}}

{% block styles %}
<link rel="stylesheet" href="{{url_for('inventory_bp.static', filename='inventory/styles.css')}}">
{% endblock %}
{% endblock %}

{% block title %}Inventory{% endblock %}

{% block content %}
<div class="">
    <section>
        <div>
            <h1>View Assets</h1>
        </div>
        <div class="table-responsive">
            <div class="navbar navbar-expand-lg">
                <a class="me-auto" href=""></a>
                <nav aria-label="Inventory table">
                    <ul class="pagination">
                        <li onclick="prePage()" class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li  onclick="nextPage()" class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Asset Tag</th>
                        <th scope="col">Item Description</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Serial</th>
                        <th scope="col">Date Manufactured</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Purchase Date</th>
                    </tr>
                </thead>
                <tbody class="page-data">
                    {% for asset in assets %}
                    <tr>
                        <td>{{ asset.asset_tag }}</td>
                        <td>{{ asset.name }}</td>
                        <td>{{ asset.type }}</td>
                        <td>{{ asset.item_discription }}</td>
                        <td>{{ asset.condition }}</td>
                        <td>{{ asset.serial }}</td>
                        <td>{{ asset.date_manufactured }}</td>
                        <td>{{ asset.cost }}</td>
                        <td>{{ asset.purchase_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}