{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('add_bp.static', filename='add/styles.css')}}">
{% endblock %}
{% block title %}<title>View appointment history</title> {% endblock %}


{% block content %}
<h1 class="h3 mb-4 ml-3 text-gray-800">View appointment history</h1>
<hr>
<p class="mb-4 ml-3">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
        href="https://datatables.net">official DataTables documentation</a>.</p>
        <div class=" shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Aappointment history</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.mobile }}</td>
                        <td>{{ appointment.email }}</td>
                        <td>{{ appointment.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        </div>
{% endblock %}

{% block scripts%}
<script src="{{url_for('add_bp.static', filename='js/demo/datatables-demo.js')}}"></script> 
<script src="{{url_for('add_bp.static', filename='datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('add_bp.static', filename='datatables/dataTables.bootstrap4.min.js')}}"></script>
{% endblock %}