{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('add_bp.static', filename='add/styles.css')}}">
<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{% endblock %}
{% block title %}<title>View patient history</title> {% endblock %}


{% block content %}
<h1 class="h3 mb-4 ml-3 text-gray-800">View patient history</h1>
<hr>
<p class="mb-4 ml-3">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
        href="https://datatables.net">official DataTables documentation</a>.</p>
        <div class=" shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Patients</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Risk Level</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Address</th>
                        <th scope="col">Blood type</th>
                        <th scope="col">systolic_BP</th>
                        <th scope="col">diastolic_BP</th>
                        <th scope="col">blood_sugar</th>
                        <th scope="col">body_temp</th>
                        <th scope="col">heart_rate</th>
                        <th scope="col">Number of children</th>
                        <th scope="col">Last birth</th>
                        <th scope="col">Allergies</th>
                        <th scope="col">Medical conditions</th>
                        <th scope="col">Miscarriages</th>
                        <th scope="col">Still Births</th>
                        <th scope="col">Premature Births</th>
                        <th scope="col">Pre clamsia</th>
                        <th scope="col">Gestation Diabetes</th>
                        <th scope="col">HIV Status</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Previous Delivery Mode</th>
                        <th scope="col">ID Number</th>
                        <th scope="col">Marital Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">Risk Level</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Address</th>
                        <th scope="col">Blood type</th>
                        <th scope="col">systolic_BP</th>
                        <th scope="col">diastolic_BP</th>
                        <th scope="col">blood_sugar</th>
                        <th scope="col">body_temp</th>
                        <th scope="col">heart_rate</th>
                        <th scope="col">Number of children</th>
                        <th scope="col">Last birth</th>
                        <th scope="col">Allergies</th>
                        <th scope="col">Medical conditions</th>
                        <th scope="col">Miscarriages</th>
                        <th scope="col">Still Births</th>
                        <th scope="col">Premature Births</th>
                        <th scope="col">Pre clamsia</th>
                        <th scope="col">Gestation Diabetes</th>
                        <th scope="col">HIV Status</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Previous Delivery Mode</th>
                        <th scope="col">ID Number</th>
                        <th scope="col">Marital Status</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for patient in records %}
                    <tr>
                        <td>{{ patient.risk_level }}</td>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.age }}</td>
                        <td>{{ patient.address }}</td>
                        <td>{{ patient.blood_type }}</td>
                        <td>{{ patient.systolic_BP }}</td>
                        <td>{{ patient.diastolic_BP }}</td>
                        <td>{{ patient.blood_sugar }}</td>
                        <td>{{ patient.body_temp }}</td>
                        <td>{{ patient.heart_rate }}</td>
                        <td>{{ patient.number_children }}</td>
                        <td>{{ patient.last_birth }}</td>
                        <td>{{ patient.allergies }}</td>
                        <td>{{ patient.medical_condition }}</td>
                        <td>{{ patient.miscarriage }}</td>
                        <td>{{ patient.still_birth }}</td>
                        <td>{{ patient.premature_birth }}</td>
                        <td>{{ patient.pre_clamsia }}</td>
                        <td>{{ patient.gestation_diabetes }}</td>
                        <td>{{ patient.hiv_status }}</td>
                        <td>{{ patient.weight }}</td>
                        <td>{{ patient.prev_dev }}</td>
                        <td>{{ patient.id_number }}</td>
                        <td>{{ patient.marital_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        </div>
{% endblock %}

{% block scripts%}
<script src="{{url_for('vendor_bp.static', filename='js/demo/datatables-demo.js')}}"></script> 
<script src="{{url_for('vendor_bp.static', filename='datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('vendor_bp.static', filename='datatables/dataTables.bootstrap4.min.js')}}"></script>
{% endblock %}